<!doctype html>
<html lang="en" >
  <head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>

    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container" ng-app='ShoppingListCheckOff' >
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyController as showList'  >
     <h2>To Buy:</h2>
     <ol>
       <li ng-repeat="item in showList.items">
         {{ item.quantity }} of {{ item.name }}
         <button ng-click="showList.removeItem($index);">Bought</button>
       </li>
     </ol>
     <div class="emptyMessage" ng-if="showList.items.length===0">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
   <div class="col-md-6" ng-controller="AlreadyBoughtController as boughtList">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in boughtList.items">
         Bought{{ item.quantity }} of {{ item.name }}
       </li>
     </ul>
     <div class="emptyMessage" ng-if="boughtList.items.length===0">Nothing bought yet.</div>
    </div>

  </div>
</div>

</body>
</html>
